{{define "home"}}
    <!DOCTYPE html>
    <html lang="en">
        {{template "head"}}
        <body>
            {{template "header" .PageTitle}}
            <main>
                {{range .Blocks}}
                        {{template "block"}}
                {{end}}
            </main>
        </body>
        {{template "footer"}}
    </html>
{{end}}